/* body {
  font: 34px "Century Gothic", Futura, sans-serif;
} */
.room-game {
  height: 100vh;
  width: 100%;
  padding-bottom: 60px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.btn-chat-box {
  position: relative;
}
.chat-box {
  width: 400px;
  border-radius: 15px;
  height: 40vh;
  position: absolute;
  top: 450px;
  left: 0px;
  overflow-anchor: none;
}
.chat-box-item {
  height: 22vh;
}
.game-board {
  border: 1px solid #ccc;
}

.board-row {
  display: flex;
}
.message {
  background-color: #336be4;
  border-radius: 15px;
  height: 35px;
}

.square {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #999;
  cursor: pointer;
}

.square:hover {
  background-color: #f0f0f0;
}

.game-info {
  margin-left: 20px;
}

.chat-item {
  width: 50%;
}
.your-message {
  background: #009bff;
  margin: 8px;
  border-radius: 1em;
  padding: 8px;
  color: white;
  float: right;
}

.other-people {
  background: #868686;
  margin: 8px;
  border-radius: 1em;
  padding: 8px;
  color: white;
  text-align: left;
  float: left;
}

.box-chat_message {
  min-height: 25vh;
  max-height: 25vh;
  overflow-y: auto;
  overflow-anchor: auto;
}
.box-chat {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 0 black;
  border-radius: 1em;
}

.send-box {
  width: 100%;
  padding: 1em;
}

textarea:focus {
  outline: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-chat {
  position: relative;
}

.btn-icon {
  cursor: pointer;
  position: absolute;
  right: 100px;
  bottom: 41px;
}
.img_icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.show_icon {
  position: absolute;
  top: 245px;
  left: 170px;
}
