/* body {
  font: 34px "Century Gothic", Futura, sans-serif;
} */
.room-game {
  height: 100vh;
  width: 100%;
  padding-bottom: 60px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.chat-box {
  width: 400px;
  border-radius: 15px;
  height: 35vh;
  position: absolute;
  top: 363px;
  left: 68px;
}
.chat-box-item {
  height: 22vh;
}
.game-board {
  border: 1px solid #ccc;
}

.board-row {
  display: flex;
}

.square {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #999;
  cursor: pointer;
}

.square:hover {
  background-color: #f0f0f0;
}

.game-info {
  margin-left: 20px;
}
