

body {
  font: 34px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.chat-item {
  width: 50%;
}
.your-message {
  background: #009bff;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  float: right;
}

.other-people {
  background: #868686;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  text-align: left;
  float: left;
}

.box-chat_message {
  min-height: 60vh;  
  max-height: 60vh;  
  overflow-y: auto;
  
}
.box-chat {
  width:70%;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 0 black;
  border-radius: 1em;
}

.send-box {
  width: 100%;
  padding: 1em;
}

textarea {
  width: 80%;
  margin: 0;
  padding: 0.5em;
  background: #ebf5ff;
  border-radius: 2em; 
  display: flex;
  float: left;
}

.btn-send {
  width: 10%;
  background: #6650ff;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 1em;
  text-align: center;

}
.btn-send:hover {
  background: black;
}
textarea:focus {outline:0;}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 1em;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}